* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

table {
    text-align: left;
    width: 100%;
}

th {
    font-size: 1.3rem;
}

th, td  {
    padding-left: 2px;
    border: solid black 1px;
}


/* NAV  */

nav {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    /* background-color: rgb(26, 26, 26); */
}

#add-btn {
    color: #0398AC;
    background: none;
    border: 1px solid #0398AC;
    padding: 4px 8px;
    border-radius: 6px;
}

#add-btn:hover {
    background-color: #44d0e2;
    color: white;
    border: 1px solid #44d0e2;
}

h1 {
    color: #0398AC;
}

/* MODAL  */

.show-form {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1;
    background-color: rgb(31, 31, 31); /* Fallback color */
    background-color: rgba(31,31,31,0.7); /* opacity */
    width: 100%;
    height: 100%;
    color: white;
    backdrop-filter: blur(6px);
}

#modal-container {
    margin: 140px auto;
    width: 500px;
    height:280px;
    background-color: white;
    border-radius: 4px;
}

h2 {
    color: #0398AC;
    text-align: center;
}

#form-container {
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
}

input[type='text']{
    width:300px;
    padding: 2px 10px;
    margin-top: 8px;
    border-radius: 50px;
    border: 1px solid rgb(105, 105, 105);
}

input[type='number']{
    width: 80px;
    padding: 2px 10px;
    margin-top: 8px;
    border-radius: 50px;
    border: 1px solid rgb(105, 105, 105);
}

input[type='checkbox']{
    margin: 8px 0;
}

#read {
    font-size: 14px;
    margin-left: 10px;
}

#btn-container {
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: center;
}

.form-btns {
    margin-left: 20px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}

.add-btn {
    background-color: #0398AC;
    border: none;
    color: white;
}

.add-btn:hover {
    border: none;
    background-color: #45d9ec;
}

.rst-btn {
    background-color: white;
    border: 1px #0398AC solid;
    color: #0398AC;
}

.rst-btn:hover {
    color: white;
    border: none;
    background-color: #45d9ec;
}

.close-btn {
    float: right;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #0398AC;
    color: white;
    border: none;
    border-radius: 2px;
}

.close-btn:hover {
    color: white;
    border: none;
    background-color: #45d9ec;
}
/* CARD  */

.book-card-heading,
.book-card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    /* border: 2px red solid; */
}

.book-card-heading {
    font-size: 1.4rem;
}

.card {
    flex: 1;
    border: 1px solid black;
    margin: 2px;
    padding-left: 10px;
}

/* MAIN SECTION  */

main {
    height: 620px;
}

#my-table {
    padding: 20px 50px;
}

#my-table th {
    border: none;
    background-color: #0398AC;
    color: white;
}

#my-table tr:nth-child(2n + 1) {
    border: none;
    background-color: rgb(218, 235, 236);
}

#my-table td {
    border: none;
    font-size: 14px;
    color: #3f3f3f;
}


.remove-btn {
    border: none;
    background-color: #0398AC;
    width: 80px;
    color: white;
    border-radius: 2px;
}

.remove-btn:hover {
    border: none;
    background-color: #45d9ec;
    width: 80px;
    color: white;
    border-radius: 2px;
}

/* FOOTER  */
footer {
    width: 100%;
    height: 39px;
    /* background-color: rgb(26, 26, 26); */
    text-align: center;
}

footer > p {
    font-size: 12px;
    padding-top: 10px;
    color: rgb(94, 94, 94);
}
